@import url('https://fonts.googleapis.com/css?family=Raleway|ZCOOL+QingKe+HuangYou');

$title_font: 'ZCOOL QingKe HuangYou', cursive;
$default_title_size: 75px;
$content_font: 'Raleway', sans-serif;

// Colours
$main_colour: #41B3A3;
$font_colour: white;
$accent_dark_orange: #E27D60;
$accent_light_orange: #E8A87C;
$accent_purple: #C38D9E;

body {background-color: $main_colour;}

.page__wrapper {
    color: $font_colour;
    font-family: $content_font;

    .data {
        display: flex;
        justify-content: space-evenly;
        padding-top: 25px;

        // FOR BOTH MAIN CONTENT BLOCKS
        &__contacts, &__login {
            //text-align: center;
            border-radius: 3px;
            border: 5px solid $accent_dark_orange;
            
            &--button, &--item {
                border-radius: 2px;
                font-size: 15px;
            }
            
            &--button {
                background-color: $accent_purple;
                color: white;
                border: none;
                padding: 20px 65px;
                text-decoration: none;
                display: inline-block;
                margin-bottom: 25px;
                -webkit-transition-duration: 0.4s;
                transition-duration: 0.4s;
                
                &:hover {
                    background-color: $accent_light_orange;
                    cursor: pointer;
                }
            }

            &--filter {
                padding: 0px 0px 25px 17px;

                &--title {
                    padding-right: 15px;
                }
            }

            &--item {
                margin-bottom: 20px;
                padding: 15px;
                font-size: 15px;
            }

            &--link {
                text-decoration: none;
                color: $accent_dark_orange;

                &:hover {
                    color: $accent_light_orange;
                }
            }

            &--sections {
                padding-left: 15px;
                
                
                &--title {
                    padding-right: 50px;
                }
            }

            &--title {
                background-color: $accent_dark_orange;
                text-align: left;
                //padding-left: 20px;
            }
        }

        // SPECIFIC CLASS STUFF
        &__contacts {
            padding-bottom: 25px;
            width: 75%;
        }
        &__login {
            text-align: center;
            max-height: 300px;
            width: 25%;

            &--title {text-align:center;}
        }
        
    }

    .main {
        margin-left: 150px; 
        letter-spacing: 2.5px;
        
        &__title {
            margin: 0;
            font-family: $title_font;
            font-size: $default_title_size;
        }

        &__subtitle {align-content: flex-end;}
        
    }

    
}

